       <div class="profile-body" id="profile-body">
         <button type="">Click to edit profile</button>
         <h4>Bio</h4>
         <form method="post">
           <textarea name="bio" placeholder=""></textarea>
           <input type="submit" class="profile-settings-form hidden-button">
         </form> 
       </div>