       <div id="settings">
         <form method="post">
            <label for="username">Change username</label><br>
            <input type="text" name="username" placeholder="">
            <label for="email">Change e-mail address</label><br>
            <input type="email" name="email" placeholder="">
            <label for="password">Change password</label><br>
             <input type="password" name="password" placeholder="">
            <input type="submit" class="profile-settings-form hidden-button">
         </form>
       </div>
    