<div id="signin">
 <h2>Sign in</h2>   
  <form method="post">
      <input type="email" name="email" placeholder="E-mail">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Sign in</button>
      <button type="submit" formaction="/signup">Sign up</button>
   </form>
</div>