<div class="profile-container">
<% if request.path_info == '/add/profile' %>
<div class="profile">
   <h2>Your profile</h2>
   <form method="post">
    <label>Your experience</label>
    <select name="experience">
       <option value="novel novice">Less than a year</option>
       <option value="burgeoning badger">1 year</option>
       <option value="sprawling sprite">2 years</option>
       <option value="artful codesmith">3 years</option>
       <option value="inquisitive wizard">5 years</option>
       <option value="adventurous inventor">10 years</option>
       <option value="contemplative codger">20 years +</option>
     </select>
     <div id="profile-image"><input type="file" name="image"><span>Add profile image</span></div>
     <input type="submit" value="Save profile">
   </form>
</div> 
<% else %>
 <div class="profile-card">
   <div class="profile-flex-header">
      <h2><%= @user["username"] %></h2>
      <p><% if @user["ranking"] %><%= @user["ranking"] %><% end %></p>
   </div> 
      <div class="profile-flex-body">
        <div id="profile-sidebar">   
         <menu>
            <li><a href="" id="profile-button">Profile</a></li>
            <li><a href="" id="settings-button">Settings</a></li>
         </menu> 
       </div> 
       <%= erb :'partials/profile' %>
       <%= erb :'partials/settings' %>
   </div> 
</div>
<label tabindex="0" class="profile-settings-button">Update settings</label>
</div>
<% end %>