<div id="signup">
 <h2>Sign up</h2>   
  <form method="post">
      <input type="text" name="fullname" id="fullname" placeholder="Your full name" required>
      <input type="text" name="username" id="username"  placeholder="Username" required>
      <input type="email" name="email" id="email"  placeholder="E-mail" required>
      <input type="password" name="password" id="password" placeholder="Password" required>
      <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" required>
      <button type="submit">Sign up</button>
   </form>
</div>